<div id="container">
  <div id="sidebar"  class="nav-collapse">
    <ul class="sidebar-menu" id="nav-accordion">
  	  <div class="image-cropper centered mb-4">
    		<img src="./../../assets/img/profile_pic.jpg"/>
			</div>
  	  <h5 class="centered mb-4">Puneeth Saladi</h5>
      <li>
        <a class="active" href="#">
          <span>About Me</span>
        </a>
      </li>

      <li>
        <a href="#" >
          <span>Research</span>
        </a>
      </li>

      <li>
        <a href="#" >
          <span>Photos</span>
        </a>
      </li>

      <li>
        <a href="#" >
          <span>Contact</span>
        </a>
      </li>

    </ul>
  </div>
  <mainContent></mainContent>
</div>
